<form [formGroup]="form" (ngSubmit)="submit()" novalidate>
  <card-account-act
    cardTitle="Смяна на забравена парола"
    btnText="Промени"
    [errors]="errors"
    [isLogin]="false"
    [loading]="loading"
  >
    <ng-container fields>
      <br-password-field
        label="Нова парола"
        formControlName="newPassword"
        [validations]="{
          pattern: 'Дължината на паролата трябва да бъде минимум 8 знака',
          hasSymbol: 'Паролата трябва да съдържа поне един символ',
          hasUppercaseLetter: 'Паролата трябва да съдържа поне една главна буква',
          hasLowercaseLetter: 'Паролата трябва да съдържа поне една малка буква',
          hasNumber: 'Паролата трябва да съдържа поне една цифра',
          hasWhitespace: 'Паролата не трябва да съдържа интервал'
        }"
        [tooltipVisibility]="'visible'"
        [tooltipContent]="InfoMessages.NewPassword"
      ></br-password-field>

      <br-password-field
        label="Повтори нова парола"
        formControlName="repeatNewPassword"
        [validations]="{ match: 'Нова парола и Повтори нова парола не съвпадат!' }"
        [tooltipVisibility]="'visible'"
        [tooltipContent]="InfoMessages.RepeatNewPassword"
      ></br-password-field>
    </ng-container>
  </card-account-act>
</form>
