<ul class="inline">
  <li *ngFor="let menuItem of menuItems" class="inline">
    <a
      class="inline py-2 pr-2 cursor-pointer"
      [routerLink]="menuItem.routeCommands"
      [relativeTo]="menuItem.routeExtras ? menuItem.routeExtras.relativeTo : undefined"
      [queryParams]="menuItem.routeExtras?.queryParams"
      [fragment]="menuItem.routeExtras?.fragment"
      [queryParamsHandling]="menuItem.routeExtras?.queryParamsHandling"
      [preserveFragment]="menuItem.routeExtras?.preserveFragment || false"
      [skipLocationChange]="menuItem.routeExtras?.skipLocationChange || false"
      [replaceUrl]="menuItem.routeExtras?.replaceUrl || false"
      [state]="menuItem.routeExtras?.state"
    >
      <span class="lg:text-sm" [ngClass]="!menuItem.isSelected ? 'hover:text-lucky-point' : 'font-bold text-axiom'">
        {{ menuItem.text }}&#32;
      </span>
    </a>
  </li>
</ul>
