<div class="br-nom-select" [class.br-nom-select-error-state]="errorStateMatcher.isErrorState(control, form)">
  <ng-select
    [items]="items"
    bindValue="id"
    bindLabel="name"
    [multiple]="multiple"
    [groupBy]="$any(showAllGroup ? allGroup : null)"
    [groupValue]="$any(showAllGroup ? allGroupValue : null)"
    [hideSelected]="showAllGroup && items.length > 0"
    [searchable]="searchable"
    [closeOnSelect]="true"
    [selectableGroup]="true"
    [selectableGroupAsModel]="true"
    [typeahead]="typeahead$"
    [loading]="loading"
    [compareWith]="$any(complexValue ? deepEqual : null)"
    (open)="onOpened()"
    (close)="onClosed()"
    (scrollToEnd)="onScrollToEnd()"
    [formControl]="control"
    [placeholder]="label"
    [appendTo]="'body'"
  ></ng-select>
  <mat-error *ngIf="errorMessage">{{ errorMessage }}</mat-error>
</div>
