<br-card>
  <ng-container filter-button>
    <a class="text-axiom h-full" mat-raised-button (click)="toggleFilter()">
      <fa-icon [icon]="fadUserPlus" size="lg"></fa-icon>
      <span>Филтър</span>
    </a>
  </ng-container>
  <ng-container card-title>Офиси</ng-container>
  <ng-container card-buttons>
    <a [routerLink]="['./', 'new']" mat-raised-button color="primary" aria-label="Нов офис">
      <fa-icon [icon]="fadUserPlus" size="lg"></fa-icon>
      <span>Нов офис</span>
    </a>
  </ng-container>
  <ng-container card-body>
    <div [ngClass]="filterInUse ? 'active-filter' : 'no-filter'">
      <div class="filter-wrapper" [formGroup]="searchForm" novalidate>
        <div class="section-grid">
          <br-text-field class="first-of-three-col" label="Име" formControlName="firstName"></br-text-field>

          <br-text-field class="second-of-three-col" label="Презиме" formControlName="middleName"></br-text-field>

          <br-text-field class="third-of-three-col" label="Фамилия" formControlName="lastName"></br-text-field>

          <br-text-field class="row-full filter-field" label="Пълно Име" formControlName="fullName"></br-text-field>
        </div>
      </div>
      <hr class="filter-divider" />
    </div>
    <table class="br-table" mat-table matSort [dataSource]="dataSource">
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row" class="br-table-action">
          <a [routerLink]="['./', row.id]" aria-label="Редактирай" class="br-link-btn">
            <fa-icon [icon]="fasFilePrescription"></fa-icon>
          </a>
        </td>
      </ng-container>
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>No.</th>
        <td mat-cell *matCellDef="let row">{{ row.position }}</td>
      </ng-container>

      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Име</th>
        <td mat-cell *matCellDef="let row">{{ row.firstName }}</td>
      </ng-container>

      <ng-container matColumnDef="middleName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Презиме</th>
        <td mat-cell *matCellDef="let row">{{ row.middleName }}</td>
      </ng-container>

      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Фамилия</th>
        <td mat-cell *matCellDef="let row">{{ row.lastName }}</td>
      </ng-container>

      <ng-container matColumnDef="fullName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Пълно Име</th>
        <td mat-cell *matCellDef="let row">{{ row.fullName }}</td>
      </ng-container>

      <tr
        mat-header-row
        *matHeaderRowDef="['action', 'position', 'firstName', 'middleName', 'lastName', 'fullName']"
      ></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: ['action', 'position', 'firstName', 'middleName', 'lastName', 'fullName']"
      ></tr>
      <tr *matNoDataRow class="sb-no-data-row">
        <!-- *ngIf="!(dataSource.pending$ | async)"  -->
        <ng-content select="[no-data-row]"></ng-content>
      </tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[6, 12, 25, 50]"
      [pageIndex]=""
      [pageSize]=""
      [length]="queryLength"
      aria-label="Select page of periodic rows"
    ></mat-paginator>

    <mat-spinner *ngIf="loading" [diameter]="120" class="absolute top-1/3 left-1/2 -mt-10 -ml-10"></mat-spinner>
  </ng-container>
</br-card>
