<div class="w-11/12 sm:w-10/12 mx-auto mt-6">
  <crm-form-section-divider title="Заявка на претенция" class="page-title"></crm-form-section-divider>
  <div>
    <form [formGroup]="form" (ngSubmit)="submit()" class="mt-8" novalidate>
      <div class="section-grid">
        <crm-nom-select
          class="first-and-second-of-three-col"
          label="Заявител"
          formControlName="applicantTypeId"
          [nomService]="applicantTypesService"
          [tooltipVisibility]="'visible'"
          [tooltipContent]="InfoMessages.ApplicantType"
        ></crm-nom-select>
      </div>

      <div *ngIf="hasApplicant">
        <crm-form-section-divider title="Данни на заявител"></crm-form-section-divider>
        <div class="section-grid">
          <crm-text-field
            class="first-of-three-col"
            label="Име *"
            formControlName="applicantFirstName"
            [validations]="{ pattern: 'Използвате непозволени или повече от 30 символа' }"
            [tooltipVisibility]="'visible'"
            [tooltipContent]="InfoMessages.ApplicantFirstName"
          ></crm-text-field>

          <crm-text-field
            class="second-of-three-col"
            label="Презиме"
            formControlName="applicantMiddleName"
            [validations]="{ pattern: 'Използвате непозволени или повече от 30 символа' }"
            [tooltipVisibility]="'visible'"
            [tooltipContent]="InfoMessages.ApplicantMiddleName"
          ></crm-text-field>

          <crm-text-field
            class="third-of-three-col"
            label="Фамилия *"
            formControlName="applicantLastName"
            [validations]="{ pattern: 'Използвате непозволени или повече от 30 символа' }"
            [tooltipVisibility]="'visible'"
            [tooltipContent]="InfoMessages.ApplicantFamilyName"
          ></crm-text-field>

          <crm-select-field
            class="first-of-three-col"
            label="Вид идентификатор *"
            formControlName="applicantPinType"
            [items]="pinTypeItems"
            [tooltipVisibility]="'visible'"
            [tooltipContent]="InfoMessages.InsuredPersonPinType"
          ></crm-select-field>

          <crm-text-field
            class="second-of-three-col"
            [label]="
              form.controls['applicantPinType']?.value === 'EGN'
                ? 'Идентификатор на титуляра *'
                : 'Идентификатор на титуляра'
            "
            formControlName="applicantPin"
            [validations]="{ egn: 'Невалидно ЕГН' }"
            [tooltipVisibility]="'visible'"
            [tooltipContent]="InfoMessages.InsuredPersonPin"
          ></crm-text-field>

          <crm-nom-select
            class="first-of-three-col"
            label="Област *"
            (onChange)="onApplicantDistrictChange($event)"
            formControlName="applicantDistrict"
            [nomService]="districtsService"
            [tooltipVisibility]="'visible'"
            [tooltipContent]="InfoMessages.ApplicantDistrict"
          ></crm-nom-select>

          <crm-nom-select
            class="second-of-three-col"
            label="Община *"
            (onChange)="onApplicanMunicipalityChange($event)"
            formControlName="applicantMunicipality"
            [nomService]="municipalitiesService"
            [filter]="applicantDistrictsFilter"
            [tooltipVisibility]="'visible'"
            [tooltipContent]="InfoMessages.ApplicantMunicipality"
          ></crm-nom-select>

          <crm-nom-select
            class="third-of-three-col"
            label="Населено място *"
            (onChange)="onApplicanTownChange($event)"
            formControlName="applicantTownId"
            [nomService]="townsService"
            [filter]="applicantMunicipalitiesFilter"
            [tooltipVisibility]="'visible'"
            [tooltipContent]="InfoMessages.ApplicantTown"
          ></crm-nom-select>

          <crm-text-field
            class="first-and-second-of-three-col"
            label="Адрес"
            formControlName="applicantAddress"
            [validations]="{ pattern: 'Използвате непозволени или повече от 30 символа' }"
            [tooltipVisibility]="'visible'"
            [tooltipContent]="InfoMessages.ApplicantAddress"
          ></crm-text-field>

          <crm-text-field
            class="third-of-three-col"
            label="П.К."
            formControlName="applicantZipCode"
            [validations]="{ pattern: 'Невалиден пощенски код' }"
            [tooltipVisibility]="'visible'"
            [tooltipContent]="InfoMessages.ApplicantZipCode"
          ></crm-text-field>

          <div class="first-of-three-col">
            <mat-checkbox class="text-sm -mb-4" (click)="onApplicantPhoneCheckboxChange()">
              <p>Нямам номер на български мобилен оператор</p>
            </mat-checkbox>
            <crm-text-field
              class="first-of-three-col"
              label="Телефонен номер *"
              formControlName="applicantPhoneNumber"
              [validations]="{
                pattern: !applicantHasForeignPhoneNumber
                  ? 'Невалиден телефонен номер'
                  : 'Невалиден телефонен номер. Ползвайте само (+) и цифри'
              }"
              [tooltipVisibility]="'visible'"
              [tooltipContent]="InfoMessages.ApplicantPhoneNumber"
            ></crm-text-field>
          </div>

          <crm-text-field
            class="sm:mt-6 second-of-three-col"
            label="Имейл *"
            formControlName="applicantEmail"
            [validations]="{ pattern: 'Невалиден имейл адрес' }"
            [tooltipVisibility]="'visible'"
            [tooltipContent]="InfoMessages.ApplicantEmail"
          ></crm-text-field>
        </div>
      </div>

      <crm-form-section-divider title="Данни на застрахованото лице"></crm-form-section-divider>
      <div class="section-grid">
        <crm-text-field
          class="first-of-three-col"
          label="Име *"
          formControlName="firstName"
          [validations]="{ pattern: 'Използвате непозволени или повече от 30 символа' }"
          [tooltipVisibility]="'visible'"
          [tooltipContent]="InfoMessages.InsuredPersonFirstName"
        ></crm-text-field>

        <crm-text-field
          class="second-of-three-col"
          label="Презиме"
          formControlName="middleName"
          [validations]="{ pattern: 'Използвате непозволени или повече от 30 символа' }"
          [tooltipVisibility]="'visible'"
          [tooltipContent]="InfoMessages.InsuredPersonMiddleName"
        ></crm-text-field>

        <crm-text-field
          class="third-of-three-col"
          label="Фамилия *"
          formControlName="lastName"
          [validations]="{ pattern: 'Използвате непозволени или повече от 30 символа' }"
          [tooltipVisibility]="'visible'"
          [tooltipContent]="InfoMessages.InsuredPersonFamilyName"
        ></crm-text-field>

        <crm-select-field
          class="first-of-three-col"
          label="Вид идентификатор *"
          formControlName="pinType"
          [items]="pinTypeItems"
          [tooltipVisibility]="'visible'"
          [tooltipContent]="InfoMessages.InsuredPersonPinType"
        ></crm-select-field>

        <crm-text-field
          class="second-of-three-col"
          [label]="
            form.controls['pinType']?.value === 'EGN' ? 'Идентификатор на титуляра *' : 'Идентификатор на титуляра'
          "
          formControlName="pin"
          [validations]="{ egn: 'Невалидно ЕГН' }"
          [tooltipVisibility]="'visible'"
          [tooltipContent]="InfoMessages.InsuredPersonPin"
        ></crm-text-field>

        <crm-nom-select
          class="first-of-three-col"
          label="Област *"
          (onChange)="onDistrictChange($event)"
          formControlName="district"
          [nomService]="districtsService"
          [tooltipVisibility]="'visible'"
          [tooltipContent]="InfoMessages.InsuredPersonDistrict"
        ></crm-nom-select>

        <crm-nom-select
          class="second-of-three-col"
          label="Община *"
          (onChange)="onMunicipalityChange($event)"
          formControlName="municipality"
          [nomService]="municipalitiesService"
          [filter]="districtsFilter"
          [tooltipVisibility]="'visible'"
          [tooltipContent]="InfoMessages.InsuredPersonMunicipality"
        ></crm-nom-select>

        <crm-nom-select
          class="third-of-three-col"
          label="Населено място *"
          formControlName="townId"
          (onChange)="onTownChange($event)"
          [nomService]="townsService"
          [filter]="municipalitiesFilter"
          [tooltipVisibility]="'visible'"
          [tooltipContent]="InfoMessages.InsuredPersonTown"
        ></crm-nom-select>

        <crm-text-field
          class="first-and-second-of-three-col"
          label="Адрес"
          formControlName="address"
          [validations]="{ pattern: 'Използвате непозволени или повече от 30 символа' }"
          [tooltipVisibility]="'visible'"
          [tooltipContent]="InfoMessages.InsuredPersonAddress"
        ></crm-text-field>

        <crm-text-field
          class="third-of-three-col"
          label="П.К. *"
          formControlName="zipCode"
          [validations]="{ pattern: 'Невалиден пощенски код' }"
          [tooltipVisibility]="'visible'"
          [tooltipContent]="InfoMessages.InsuredPersonZipCode"
        ></crm-text-field>

        <div class="first-of-three-col">
          <mat-checkbox class="text-sm -mb-4" (click)="onPhoneCheckboxChange()">
            <p>Нямам номер на български мобилен оператор</p>
          </mat-checkbox>
          <crm-text-field
            label="Телефонен номер *"
            formControlName="phoneNumber"
            [validations]="{
              pattern: !hasForeignPhoneNumber
                ? 'Невалиден телефонен номер'
                : 'Невалиден телефонен номер. Ползвайте само (+) и цифри'
            }"
            [tooltipVisibility]="'visible'"
            [tooltipContent]="InfoMessages.InsuredPersonPhoneNumber"
          ></crm-text-field>
        </div>

        <crm-text-field
          class="sm:mt-6 second-of-three-col"
          label="Имейл *"
          formControlName="email"
          [validations]="{ pattern: 'Невалиден имейл адрес' }"
          [tooltipVisibility]="'visible'"
          [tooltipContent]="InfoMessages.Email"
          [tooltipContent]="InfoMessages.InsuredPersonEmail"
        ></crm-text-field>

        <crm-text-field
          class="sm:mt-6 third-of-three-col"
          label="Номер на здравна карта"
          formControlName="insuranceCardNumber"
          [tooltipVisibility]="'visible'"
          [tooltipContent]="InfoMessages.InsuredPersonCardNumber"
        ></crm-text-field>
      </div>

      <crm-form-section-divider title="Данни за събитието"></crm-form-section-divider>
      <div class="section-grid">
        <crm-select-field
          class="first-of-three-col"
          label="Вид на събитието"
          formControlName="packageCode"
          [items]="data.claimRegistryUtils.policyPackages!"
          [tooltipVisibility]="'visible'"
          [tooltipContent]="InfoMessages.ClaimEventType"
        ></crm-select-field>

        <crm-select-field
          class="second-of-three-col"
          label="Причина за събитието"
          formControlName="claimReasonId"
          [items]="data.claimRegistryUtils.accidentTypes!"
          [tooltipVisibility]="'visible'"
          [tooltipContent]="InfoMessages.ClaimEventReason"
        ></crm-select-field>

        <crm-date-field
          class="third-of-three-col"
          label="Дата на събитието *"
          formControlName="claimDate"
          [tooltipContent]="InfoMessages.ClaimEventDate"
        ></crm-date-field>

        <crm-textarea-field
          class="row-full"
          label="Кратко описание на събитието"
          formControlName="note"
          [tooltipVisibility]="'visible'"
          [tooltipContent]="InfoMessages.ClaimEventNote"
        ></crm-textarea-field>

        <crm-number-field
          class="first-of-three-col"
          label="Претендирана сума"
          formControlName="claimAmount"
          [precision]="2"
          [tooltipVisibility]="'visible'"
          [tooltipContent]="InfoMessages.ClaimEventAmount"
        ></crm-number-field>

        <crm-select-field
          class="second-of-three-col"
          label="Предпочитан начин за комуникация"
          formControlName="preferredCommunicationChannel"
          [items]="communicationChannels"
          [tooltipVisibility]="'visible'"
          [tooltipContent]="InfoMessages.CommunicationChannels"
        ></crm-select-field>
      </div>

      <crm-form-section-divider title="Данни за застрахователното обещетение"></crm-form-section-divider>
      <div class="section-grid">
        <crm-nom-select
          class="first-of-three-col"
          label="Начин на плащане"
          formControlName="paymentTypeId"
          [nomService]="paymentTypesService"
          [tooltipVisibility]="'visible'"
          [tooltipContent]="InfoMessages.ClaimBankPaymentType"
        ></crm-nom-select>

        <crm-text-field
          class="second-of-three-col"
          label="IBAN *"
          formControlName="iban"
          [validations]="{ pattern: 'Невалиден IBAN' }"
          [tooltipVisibility]="'visible'"
          [tooltipContent]="InfoMessages.ClaimBankPaymentIban"
        ></crm-text-field>

        <crm-nom-select
          class="first-of-three-col"
          label="Титулярът на банковата сметка е:"
          formControlName="userTypeId"
          [nomService]="applicantTypesService"
          [tooltipVisibility]="'visible'"
          [tooltipContent]="InfoMessages.UserTypeId"
        ></crm-nom-select>

        <crm-select-field
          class="second-of-three-col"
          label="Вид идентификатор"
          formControlName="accountHolderPinType"
          [items]="pinTypeItems"
          [tooltipVisibility]="'visible'"
          [tooltipContent]="InfoMessages.ClaimBankPaymentAccountHolderPinType"
        ></crm-select-field>

        <crm-text-field
          class="third-of-three-col"
          [label]="
            form.controls['accountHolderPinType']?.value === 'EGN'
              ? 'Идентификатор на титуляра *'
              : 'Идентификатор на титуляра'
          "
          formControlName="accountHolderPin"
          [validations]="{ egn: 'Невалидно ЕГН' }"
          [tooltipVisibility]="'visible'"
          [tooltipContent]="InfoMessages.ClaimBankPaymentAccountHolderPin"
        ></crm-text-field>

        <crm-text-field
          class="row-full"
          label="Три имена на титуляра *"
          formControlName="accountHolder"
          [validations]="{ pattern: 'Използвате непозволени или повече от 100 символа' }"
          [tooltipVisibility]="'visible'"
          [tooltipContent]="InfoMessages.ClaimBankPaymentAccountHolder"
        ></crm-text-field>
      </div>

      <crm-form-section-divider title="Данни за приложени фактури"></crm-form-section-divider>
      <div class="section-grid">
        <crm-text-field
          class="first-of-three-col"
          label="Номер на фактура *"
          formControlName="invoiceNumber"
          [validations]="{
            pattern: 'Номерът трябва да съдържа 10 цифри'
          }"
          [tooltipVisibility]="'visible'"
          [tooltipContent]="InfoMessages.ClaimInvoiceNumber"
        ></crm-text-field>

        <crm-date-field
          class="second-of-three-col"
          label="Дата на фактура"
          formControlName="invoiceDate"
          [tooltipContent]="InfoMessages.ClaimInvoiceDate"
          [maxDate]="maxDate"
          [minDate]="minDate"
        ></crm-date-field>
      </div>

      <crm-form-section-divider title="Прикачете документи"></crm-form-section-divider>

      <div>
        <upload-files
          [title]="HealthClaimDocumentFileTypeName.AmbulatoryFile"
          [parentFilesSize]="allFilesSize"
          [maxParentFilesSize]="maxAllFilesSize"
          [presetFiles]="files.ambulatoryFiles"
          [maxFileSize]="getFileMaxSize(HealthClaimDocumentFileType.AmbulatoryFile)"
          (onFilesSelected)="onFilesSelected($event, HealthClaimDocumentFileType.AmbulatoryFile)"
          [requiredFileTypes]="RequiredFileTypes"
          [tooltipVisibility]="'visible'"
          [tooltipContent]="InfoMessages.AmbulatoryFile"
        >
          <ng-container fields *ngIf="files.ambulatoryFiles.length > 0">
            <div class="file-section-grid">
              <crm-text-field
                class="first-of-three-col"
                label="Номер на документа"
                formControlName="ambulatoryDocNumber"
                [tooltipVisibility]="'visible'"
                [tooltipContent]="InfoMessages.DocumentNumber"
              ></crm-text-field>

              <crm-date-field
                class="second-of-three-col"
                label="Дата на документа"
                formControlName="ambulatoryDocDate"
                [tooltipContent]="InfoMessages.DocumentDate"
                [maxDate]="maxDate"
                [minDate]="minDate"
              ></crm-date-field>
            </div>
          </ng-container>
        </upload-files>

        <upload-files
          [title]="HealthClaimDocumentFileTypeName.InvoiceFile"
          [parentFilesSize]="allFilesSize"
          [maxParentFilesSize]="maxAllFilesSize"
          [presetFiles]="files.invoiceFiles"
          [maxFileSize]="getFileMaxSize(HealthClaimDocumentFileType.InvoiceFile)"
          (onFilesSelected)="onFilesSelected($event, HealthClaimDocumentFileType.InvoiceFile)"
          [requiredFileTypes]="RequiredFileTypes"
          [tooltipVisibility]="'visible'"
          [tooltipContent]="InfoMessages.InvoiceFile"
        >
          <ng-container fields *ngIf="files.invoiceFiles.length > 0">
            <div class="file-section-grid">
              <crm-text-field
                class="first-of-three-col"
                label="Номер на документа"
                formControlName="invoiceDocNumber"
                [tooltipVisibility]="'visible'"
                [tooltipContent]="InfoMessages.DocumentNumber"
              ></crm-text-field>

              <crm-date-field
                class="second-of-three-col"
                label="Дата на документа"
                formControlName="invoiceDocDate"
                [tooltipContent]="InfoMessages.DocumentDate"
                [maxDate]="maxDate"
                [minDate]="minDate"
              ></crm-date-field>
            </div>
          </ng-container>
        </upload-files>

        <upload-files
          [title]="HealthClaimDocumentFileTypeName.ReceiptFile"
          [parentFilesSize]="allFilesSize"
          [maxParentFilesSize]="maxAllFilesSize"
          [presetFiles]="files.receiptFiles"
          [maxFileSize]="getFileMaxSize(HealthClaimDocumentFileType.ReceiptFile)"
          (onFilesSelected)="onFilesSelected($event, HealthClaimDocumentFileType.ReceiptFile)"
          [requiredFileTypes]="RequiredFileTypes"
          [tooltipVisibility]="'visible'"
          [tooltipContent]="InfoMessages.ReceiptFile"
        >
          <ng-container fields *ngIf="files.receiptFiles.length > 0">
            <div class="file-section-grid">
              <crm-text-field
                class="first-of-three-col"
                label="Номер на документа"
                formControlName="receiptDocNumber"
                [tooltipVisibility]="'visible'"
                [tooltipContent]="InfoMessages.DocumentNumber"
              ></crm-text-field>

              <crm-date-field
                class="second-of-three-col"
                label="Дата на документа"
                formControlName="receiptDocDate"
                [tooltipContent]="InfoMessages.DocumentDate"
                [maxDate]="maxDate"
                [minDate]="minDate"
              ></crm-date-field>
            </div>
          </ng-container>
        </upload-files>

        <upload-files
          [title]="HealthClaimDocumentFileTypeName.LabTestFile"
          [parentFilesSize]="allFilesSize"
          [maxParentFilesSize]="maxAllFilesSize"
          [presetFiles]="files.labTestFiles"
          [maxFileSize]="getFileMaxSize(HealthClaimDocumentFileType.LabTestFile)"
          (onFilesSelected)="onFilesSelected($event, HealthClaimDocumentFileType.LabTestFile)"
          [requiredFileTypes]="RequiredFileTypes"
          [tooltipVisibility]="'visible'"
          [tooltipContent]="InfoMessages.LabTestFile"
        >
          <ng-container fields *ngIf="files.labTestFiles.length > 0">
            <div class="file-section-grid">
              <crm-text-field
                class="first-of-three-col"
                label="Номер на документа"
                formControlName="labTestDocNumber"
                [tooltipVisibility]="'visible'"
                [tooltipContent]="InfoMessages.DocumentNumber"
              ></crm-text-field>

              <crm-date-field
                class="second-of-three-col"
                label="Дата на документа"
                formControlName="labTestDocDate"
                [tooltipContent]="InfoMessages.DocumentDate"
                [maxDate]="maxDate"
                [minDate]="minDate"
              ></crm-date-field>
            </div>
          </ng-container>
        </upload-files>

        <upload-files
          [title]="HealthClaimDocumentFileTypeName.CardTherapyFile"
          [parentFilesSize]="allFilesSize"
          [maxParentFilesSize]="maxAllFilesSize"
          [presetFiles]="files.cardTherapyFiles"
          [maxFileSize]="getFileMaxSize(HealthClaimDocumentFileType.CardTherapyFile)"
          (onFilesSelected)="onFilesSelected($event, HealthClaimDocumentFileType.CardTherapyFile)"
          [requiredFileTypes]="RequiredFileTypes"
          [tooltipVisibility]="'visible'"
          [tooltipContent]="InfoMessages.CardTherapyFile"
        >
          <ng-container fields *ngIf="files.cardTherapyFiles.length > 0">
            <div class="file-section-grid">
              <crm-text-field
                class="first-of-three-col"
                label="Номер на документа"
                formControlName="cardTherapyDocNumber"
                [tooltipVisibility]="'visible'"
                [tooltipContent]="InfoMessages.DocumentNumber"
              ></crm-text-field>

              <crm-date-field
                class="second-of-three-col"
                label="Дата на документа"
                formControlName="cardTherapyDocDate"
                [tooltipContent]="InfoMessages.DocumentDate"
                [maxDate]="maxDate"
                [minDate]="minDate"
              ></crm-date-field>
            </div>
          </ng-container>
        </upload-files>

        <div *ngIf="claimBigAmount" class="text-sm text-lightaxiom">
          При предявени суми над 5 000 левова равностойност, следва да се предoстави към приложените документи
          Удостоверение за банкова сметка на лицето, което има право да получи застрахователното обезщетение.
        </div>
        <div *ngIf="false">
          <upload-files
            title=""
            (onFilesSelected)="onFilesSelected($event, HealthClaimDocumentFileType.BankFile)"
            [requiredFileTypes]="RequiredFileTypes"
          ></upload-files>
        </div>
      </div>

      <div class="section-grid"></div>

      <div class="btn-axiom-box">
        <div class="btn-axiom">
          <button class="btn-axiom-content" type="submit">
            <fa-icon *ngIf="loading" [icon]="fasSpinner" [spin]="loading" size="lg"></fa-icon>
            <span>Преглед</span>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
