@import 'styles/tailwindcss';
@import 'styles/google-fonts';
@import 'styles/base';
@import 'styles/ng-select-vars';
@import 'styles/material/_material';
@import 'styles/material/_palette';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
