<ul>
  <ng-container *ngFor="let menuItem of menuItems">
    <!-- selectable menu item -->
    <li *ngIf="!menuItem.menuItems">
      <a
        class="group block py-2 cursor-pointer"
        [class.pr-1]="!menuItem.isSelected"
        [class.pl-4]="level === 1"
        [class.pl-8]="level === 2"
        [routerLink]="menuItem.routeCommands"
        [relativeTo]="menuItem.routeExtras ? menuItem.routeExtras.relativeTo : undefined"
        [queryParams]="menuItem.routeExtras?.queryParams"
        [fragment]="menuItem.routeExtras?.fragment"
        [queryParamsHandling]="menuItem.routeExtras?.queryParamsHandling"
        [preserveFragment]="menuItem.routeExtras?.preserveFragment || false"
        [skipLocationChange]="menuItem.routeExtras?.skipLocationChange || false"
        [replaceUrl]="menuItem.routeExtras?.replaceUrl || false"
        [state]="menuItem.routeExtras?.state"
      >
        <fa-icon
          *ngIf="menuItem.icon"
          [icon]="menuItem.icon"
          class="mr-1"
          [ngClass]="!menuItem.isSelected ? 'text-gray-500 group-hover:text-stratos' : 'text-gigas'"
          size="lg"
        ></fa-icon>
        <span
          class="lg:text-sm"
          [ngClass]="!menuItem.isSelected ? 'group-hover:text-lucky-point' : 'font-bold text-gigas'"
        >
          {{ menuItem.text }}
        </span>
      </a>
    </li>

    <!-- menu item with inline children-->
    <li *ngIf="menuItem.menuItems && menuItem.showChildrenInline">
      <ng-template #menuItemContents>
        <fa-icon
          *ngIf="menuItem.icon"
          [icon]="menuItem.icon"
          class="mr-1"
          [ngClass]="!menuItem.isSelected ? 'text-gray-500 group-hover:text-stratos' : 'text-gigas'"
          size="lg"
        ></fa-icon>
        <span class="lg:text-sm">
          {{ menuItem.text }}
        </span>

        <fa-icon class="p-1" [icon]="fasMinus"></fa-icon>
        <br-inline-menu [menuItems]="menuItem.menuItems"></br-inline-menu>
      </ng-template>

      <a
        *ngIf="!menuItem.routeCommands"
        class="group block py-2 pr-1 cursor-pointer"
        [class.pl-4]="level === 1"
        [class.pl-8]="level === 2"
      >
        <ng-container *ngTemplateOutlet="menuItemContents"></ng-container>
      </a>

      <a
        *ngIf="menuItem.routeCommands"
        class="group block py-2 pr-1 cursor-pointer"
        [class.pl-4]="level === 1"
        [class.pl-8]="level === 2"
        [routerLink]="menuItem.routeCommands"
        [relativeTo]="menuItem.routeExtras ? menuItem.routeExtras.relativeTo : undefined"
        [queryParams]="menuItem.routeExtras?.queryParams"
        [fragment]="menuItem.routeExtras?.fragment"
        [queryParamsHandling]="menuItem.routeExtras?.queryParamsHandling"
        [preserveFragment]="menuItem.routeExtras?.preserveFragment || false"
        [skipLocationChange]="menuItem.routeExtras?.skipLocationChange || false"
        [replaceUrl]="menuItem.routeExtras?.replaceUrl || false"
        [state]="menuItem.routeExtras?.state"
      >
        <ng-container *ngTemplateOutlet="menuItemContents"></ng-container>
      </a>
    </li>

    <!-- menu item with children in normal flow-->
    <li
      *ngIf="menuItem.menuItems && !menuItem.showChildrenInline"
      class="overflow-hidden br-parent-menu-item"
      [class.br-parent-menu-item-open]="menuItem.isOpen"
    >
      <a
        class="group relative block py-2 pr-1 cursor-pointer"
        [class.pl-4]="level === 1"
        [class.pl-8]="level === 2"
        (click)="toggleOpen(menuItem)"
      >
        <fa-icon
          *ngIf="menuItem.icon"
          [icon]="menuItem.icon"
          class="mr-1"
          [ngClass]="!menuItem.isSelected ? 'text-gray-500 group-hover:text-stratos' : 'text-gigas'"
          size="lg"
        ></fa-icon>
        <span class="lg:text-sm">
          {{ menuItem.text }}
        </span>
      </a>

      <br-menu *ngIf="menuItem.isOpen" [menuItems]="menuItem.menuItems" [level]="level + 1"></br-menu>
    </li>
  </ng-container>
</ul>
