.mat-button-wrapper > * {
  vertical-align: baseline !important;
}

.mat-button-wrapper .ng-fa-icon + span {
  @apply tracking-wider;

  &::before {
    content: '';
    display: inline-block;
    width: 0.25rem;
  }
}

.crm-mat-icon {
  @apply inline-block fill-current;

  > svg {
    @apply w-full h-full;
  }
}

#twroot .mat-form-field-flex {
  @apply px-2 pt-2 pb-0.5;

  .mat-form-field-infix {
    @apply pb-1.5;
  }
}

#twroot .mat-focused .mat-form-field-flex {
  @apply border-b-axiom;
}

#twroot .mat-form-field-invalid .mat-form-field-flex {
  @apply border-b-red-500;
}

#twroot .mat-form-field-subscript-wrapper {
  @apply px-2 mt-1;
}

#twroot .mat-focused .mat-form-field-subscript-wrapper {
  @apply border-b-axiom;
}

#twroot .mat-form-field .mat-form-field-label {
  font-family: Fira Sans, sans-serif;
}

#twroot .mat-tab-link {
  min-width: 5rem;
}

.mat-paginator-page-size {
  .mat-form-field-infix {
    border-top-width: 0;
  }

  .mat-form-field-appearance-legacy .mat-form-field-wrapper {
    padding-bottom: 7px;
  }
}
