<mat-form-field class="w-full" appearance="fill">
  <mat-label>{{ label }}</mat-label>
  <div class="flex">
    <textarea
      class="flex-1"
      matInput
      #textarea
      cdkTextareaAutosize
      cdkAutosizeMinRows="1"
      [maxlength]="textareaMaxSize"
      [formControl]="control"
      [readonly]="readonly"
      [placeholder]="placeholder"
    ></textarea>
    <fa-icon
      *ngIf="tooltipVisibility !== 'hidden'"
      [icon]="fasInfo"
      [ngClass]="infoIconClass"
      [matTooltip]="tooltipContent"
      [matTooltipPosition]="tooltipPosition"
      [matTooltipClass]="tooltipClass"
      [matTooltipDisabled]="tooltipDisabled"
      [matTooltipHideDelay]="tooltipHideDelay"
      [matTooltipShowDelay]="tooltipShowDelay"
      [matTooltipTouchGestures]="tooltipTouchGestures"
    ></fa-icon>
  </div>
  <mat-error *ngIf="errorMessage && errorStateMatcher.isErrorState(control, form)">{{ errorMessage }}</mat-error>
  <mat-hint *ngIf="!readonly" align="end">{{ textarea?.value?.length || 0 }} / {{ textareaMaxSize }}</mat-hint>
</mat-form-field>
