<div class="fixed w-full h-14 text-white bg-stratos z-50">
  <div class="flex items-center mx-auto h-full max-w-screen-max">
    <button class="block lg:hidden ml-4 w-9 h-9 outline-none" type="button" (click)="toggleLeftIsSideOpen()">
      <span class="br-mat-icon w-9 h-9" [innerHTML]="baselineMenuIcon"></span>
    </button>

    <a class="hidden lg:flex items-center px-4 w-56" href="/">
      <!-- <img class="mr-4 h-8" src="image" alt="logo" /> -->
      <span class="text-xl font-medium tracking-wider">AXIOM</span>
    </a>
  </div>
</div>

<div class="mx-auto max-w-screen-max">
  <div
    class="br-left-side lg:transform-none fixed block pt-14 w-64 lg:w-56 border-r border-gray-300 bg-selago h-full overflow-y-overlay z-30"
    [class.br-left-side-open]="leftSideIsOpen"
  >
    <ng-content select="[left-side]"></ng-content>
  </div>

  <div class="flex flex-col relative pt-14 min-h-screen">
    <div class="flex-1 lg:pl-56 w-full">
      <ng-content select="[main-content]"></ng-content>
    </div>

    <div class="lg:pl-56 p-2 text-sm text-center">
      <div>© Axiom</div>
      <div class="font-bold">email тел.: ...........</div>
    </div>
  </div>
</div>

<div *ngIf="leftSideIsOpen" class="fixed lg:hidden inset-0 bg-black bg-opacity-60 z-10" (click)="hideLeftSide()"></div>
