<ng-content *ngIf="!isNew && !localEditable" select="[disabled-mode-buttons]"></ng-content>

<br-new-panel
  *ngIf="isNew"
  [backBtnHidden]="backBtnHidden"
  [backBtnDisabled]="backBtnDisabled"
  [backBtnRouteCommands]="backBtnRouteCommands"
  [backBtnRouteExtras]="backBtnRouteExtras"
  (save)="save.emit($event)"
></br-new-panel>

<br-edit-panel
  *ngIf="!isNew"
  [editBtnHidden]="editBtnHidden"
  [editBtnDisabled]="editBtnDisabled"
  [backBtnHidden]="backBtnHidden"
  [backBtnDisabled]="backBtnDisabled"
  [backBtnRouteCommands]="backBtnRouteCommands"
  [backBtnRouteExtras]="backBtnRouteExtras"
  [editable]="editable"
  (editableChange)="localEditable = $event; editableChange.emit($event)"
  (save)="save.emit($event)"
></br-edit-panel>
