<!-- <div class="col-md-6 offset-md-3 mt-5">
  <div class="card">
    <h4 class="card-header">Create Region</h4>
    <div class="card-body">
      <form [formGroup]="regionForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="agentId">Agent:</label>
          <select class="custom-select" (change)="changeAgent($event)" formControlName="agentId">
            <option value="" disabled>Choose your agent</option>
            <option *ngFor="let agent of Agents" [ngValue]="agent.id">{{ agent.fullName }}</option>
          </select>

          <div *ngIf="submitted && f.agentId.errors" class="invalid-feedback">
            <div *ngIf="f.agentId.errors.required">Agent is required</div>
          </div>
        </div>
        <div class="form-group">
          <label for="name">Region name:</label>
          <input
            type="text"
            formControlName="name"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
          />
          <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
            <div *ngIf="f.name.errors.required">Region name is required</div>
          </div>
        </div>
        <div class="form-group">
          <label for="code">Code:</label>
          <input
            type="text"
            formControlName="code"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.code.errors }"
          />
          <div *ngIf="submitted && f.code.errors" class="invalid-feedback">
            <div *ngIf="f.code.errors.required">Region code is required</div>
          </div>
        </div>
        <button [disabled]="loading" class="btn btn-primary">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Submit
        </button>
        <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{ error }}</div>
      </form>
    </div>
  </div>
</div> -->
