<form [formGroup]="form" (ngSubmit)="submit()" novalidate>
  <card-account-act
    cardTitle="Заяви смяна на паролата"
    btnText="Изпрати"
    [errors]="errors"
    [isLogin]="false"
    [loading]="loading"
  >
    <ng-container fields>
      <crm-text-field
        label="Имейл"
        formControlName="username"
        [validations]="{ pattern: 'Невалиден имейл адрес' }"
        [tooltipVisibility]="'visible'"
        [tooltipContent]="InfoMessages.Email"
      ></crm-text-field>

      <div class="mt-5 -ml-1">
        <re-captcha formControlName="captcha"></re-captcha>
      </div>
    </ng-container>
  </card-account-act>
</form>
