<form [formGroup]="form" novalidate>
  <br-card>
    <ng-container card-title>
      {{ data.agent == null ? 'Създаване на посредник' : 'Редакция на посредник' }}
    </ng-container>
    <!-- (save)="onSave($event)" -->
    <br-editor-panel
      card-buttons
      [isNew]="data.agent == null"
      [editBtnHidden]="data.agent !== null"
      [backBtnHidden]="false"
      (save)="onDummy()"
      [(editable)]="editable"
    >
      <!-- (click)="onRemove()" -->
      <button
        disabled-mode-buttons
        mat-raised-button
        color="warn"
        type="button"
        (click)="onDummy()"
        [disabled]="removing"
      >
        <fa-icon [icon]="removing ? fasSpinner : fasTrash" [spin]="removing" size="lg"></fa-icon>
        <span class="hidden sm:inline">Премахни</span>
      </button>
    </br-editor-panel>
    <ng-container card-body>
      <!--  class="col-start-1 col-span-full" for example -->
      <div class="sm:grid grid-cols-3 gap-x-4 mb-2">
        <!-- <sb-nom-select
          label="Тип идентификатор"
          formControlName="pinType"
          [nomService]="pinTypeNomsService"
        ></sb-nom-select> -->
        <br-text-field label="тип идентификатор" formControlName="pinType" class=""></br-text-field>
        <br-text-field label="ЕГН/ЛНЧ" formControlName="pin" class=""></br-text-field>
        <br-text-field label="име" formControlName="firstName" class=""></br-text-field>
        <br-text-field label="презиме" formControlName="middleName" class=""></br-text-field>
        <br-text-field label="фамилия" formControlName="lastName" class=""></br-text-field>
        <br-text-field label="код" formControlName="code" class=""></br-text-field>
      </div>
    </ng-container>
  </br-card>
</form>
