<form [formGroup]="form" (ngSubmit)="submit()" novalidate>
  <card-account-act
    cardTitle="Вход в my.Аxiom"
    btnText="Вход"
    [errors]="errors"
    [isLogin]="true"
    [forgPassRoute]="['../reset-password']"
    [registerRoute]="['../register']"
    [loading]="loading"
  >
    <ng-container fields>
      <br-text-field
        label="Имейл"
        formControlName="username"
        [validations]="{ pattern: 'Невалиден имейл адрес' }"
        [tooltipVisibility]="'visible'"
        [tooltipContent]="InfoMessages.Email"
      ></br-text-field>

      <br-password-field
        label="Парола"
        formControlName="password"
        [validations]="{
          pattern: 'Дължината на паролата трябва да бъде минимум 8 знака'
        }"
        [tooltipVisibility]="'visible'"
        [tooltipContent]="InfoMessages.IdentifierPassword"
      ></br-password-field>

      <div class="mt-5 -ml-1">
        <re-captcha formControlName="captcha"></re-captcha>
      </div>
    </ng-container>
  </card-account-act>
</form>
