<mat-form-field class="w-full" appearance="fill">
  <mat-label>{{ label }}</mat-label>
  <textarea
    matInput
    #textarea
    cdkTextareaAutosize
    cdkAutosizeMinRows="1"
    [maxlength]="textareaMaxSize"
    [formControl]="control"
    [readonly]="readonly"
    [placeholder]="placeholder"
  ></textarea>
  <mat-error *ngIf="errorMessage && errorStateMatcher.isErrorState(control, form)">{{ errorMessage }}</mat-error>
  <mat-hint *ngIf="!readonly" align="end">{{ textarea?.value?.length || 0 }} / {{ textareaMaxSize }}</mat-hint>
</mat-form-field>
