// @font-face {
//   font-family: 'Fira Sans';
//   font-style: normal;
//   font-weight: 700;
//   src: url('/assets/fonts/FiraSans-Bold.woff2') format('woff2'), url('/assets/fonts/FiraSans-Bold.woff') format('woff');
// }

// @font-face {
//   font-family: 'Fira Sans';
//   font-style: normal;
//   font-weight: 700i;
//   src: url('/assets/fonts/FiraSans-BoldItalic.woff2') format('woff2'),
//     url('/assets/fonts/FiraSans-BoldItalic.woff') format('woff');
// }

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 300;
  src: url('/assets/fonts/FiraSans-Book.woff2') format('woff2'), url('/assets/fonts/FiraSans-Book.woff') format('woff');
}

// @font-face {
//   font-family: 'Fira Sans';
//   font-style: normal;
//   font-weight: 300i;
//   src: url('/assets/fonts/FiraSans-BookItalic.woff2') format('woff2'),
//     url('/assets/fonts/FiraSans-BookItalic.woff') format('woff');
// }

// @font-face {
//   font-family: 'Fira Sans';
//   font-style: normal;
//   font-weight: 800;
//   src: url('/assets/fonts/FiraSans-ExtraBold.woff2') format('woff2'),
//     url('/assets/fonts/FiraSans-ExtraBold.woff') format('woff');
// }

// @font-face {
//   font-family: 'Fira Sans';
//   font-style: normal;
//   font-weight: 800i;
//   src: url('/assets/fonts/FiraSans-ExtraBoldItalic.woff2') format('woff2'),
//     url('/assets/fonts/FiraSans-ExtraBoldItalic.woff') format('woff');
// }

// @font-face {
//   font-family: 'Fira Sans';
//   font-style: normal;
//   font-weight: 900;
//   src: url('/assets/fonts/FiraSans-Heavy.woff2') format('woff2'),
//     url('/assets/fonts/FiraSans-Heavy.woff') format('woff');
// }

// @font-face {
//   font-family: 'Fira Sans';
//   font-style: normal;
//   font-weight: 900i;
//   src: url('/assets/fonts/FiraSans-HeavyItalic.woff2') format('woff2'),
//     url('/assets/fonts/FiraSans-HeavyItalic.woff') format('woff');
// }

// @font-face {
//   font-family: 'Fira Sans';
//   font-style: normal;
//   font-weight: 300i;
//   src: url('/assets/fonts/FiraSans-Italic.woff2') format('woff2'),
//     url('/assets/fonts/FiraSans-Italic.woff') format('woff');
// }

// @font-face {
//   font-family: 'Fira Sans';
//   font-style: normal;
//   font-weight: 200;
//   src: url('/assets/fonts/FiraSans-Light.woff2') format('woff2'),
//     url('/assets/fonts/FiraSans-Light.woff') format('woff');
// }

// @font-face {
//   font-family: 'Fira Sans';
//   font-style: normal;
//   font-weight: 200i;
//   src: url('/assets/fonts/FiraSans-LightItalic.woff2') format('woff2'),
//     url('/assets/fonts/FiraSans-LightItalic.woff') format('woff');
// }

// @font-face {
//   font-family: 'Fira Sans';
//   font-style: normal;
//   font-weight: 500;
//   src: url('/assets/fonts/FiraSans-Medium.woff2') format('woff2'),
//     url('/assets/fonts/FiraSans-Medium.woff') format('woff');
// }

// @font-face {
//   font-family: 'Fira Sans';
//   font-style: normal;
//   font-weight: 500i;
//   src: url('/assets/fonts/FiraSans-MediumItalic.woff2') format('woff2'),
//     url('/assets/fonts/FiraSans-MediumItalic.woff') format('woff');
// }

// @font-face {
//   font-family: 'Fira Sans';
//   font-style: normal;
//   font-weight: 400;
//   src: url('/assets/fonts/FiraSans-Regular.woff2') format('woff2'),
//     url('/assets/fonts/FiraSans-Regular.woff') format('woff');
// }

// @font-face {
//   font-family: 'Fira Sans';
//   font-style: normal;
//   font-weight: 600;
//   src: url('/assets/fonts/FiraSans-SemiBold.woff2') format('woff2'),
//     url('/assets/fonts/FiraSans-SemiBold.woff') format('woff');
// }

// @font-face {
//   font-family: 'Fira Sans';
//   font-style: normal;
//   font-weight: 600i;
//   src: url('/assets/fonts/FiraSans-SemiBoldItalic.woff2') format('woff2'),
//     url('/assets/fonts/FiraSans-SemiBoldItalic.woff') format('woff');
// }
